@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

:root{
    --text: #0e0d15;
    --background: #f9f8fc;
    --primary: #6854bc;
    --secondary: #a99ce1;
    --accent: #816bde;
    --font-family: 'Goldman';

    /* Fixed parameters */
    --card-margin: 20px;
    --card-padding: 10px;
    --card-border: 1px solid #ddd;
    --card-border-radius: 10px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family), sans-serif;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
}

/* HEADER */
header {
    background-color: var(--primary);
    color: var(--text);
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: var(--accent);
    text-decoration: none;
    margin-left: 1rem;
}

nav a:hover{
    color: var(--background);
}

main {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0px);
}

main > h1{
    text-align: center;
    color: var(--primary);
    margin-bottom: 2rem;
    letter-spacing: 0.5px;
}

/* LOGIN */

#login-form{
    margin: var(--card-margin);
    padding: var(--card-padding);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
}

#login-form h2{
    text-align: center;
}

#login-form label{
    display: block;
    font-weight: 600;
}

#login-form button{
    width: 100%;
    cursor: pointer;
    background: var(--accent);
    border: none;
    border-radius: 0.25rem;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 1.5rem;
    padding: 0.5rem 1.5rem;
}

/* INDEX */

.place-card{
    margin: var(--card-margin);
    padding: var(--card-padding);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
}

.place-card > button{

    width: 70%;

}

/* FOOTER */

footer {
    background: var(--primary);
    color: var(--text);
    text-align: center;
    padding: 1.5rem;
    margin-top: auto; 
    box-shadow: 0 -4px 12px rgba(79, 0, 188, 0.4); 
}

footer p {
    font-size: 0.9rem;
    opacity: 1;
}